.banner{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8)0%, rgba(0,0,0,0.2)50%), url(../../images/banner1.jpg);
	padding: 20px 0px;
	color: white;
	background-size: cover;
	background-position:center;
}
.banner h1 {
	font-size: 90px;
	color: #ffffff;
	font-weight: bold;
	white-space: nowrap;
}

.banner h2 {
	font-size: 30px;
	font-weight: bold;
	opacity: 0.8;
	margin-bottom: 100px;
	color : #ffffff;
}

