.btn{
	background-color: #080202;
    padding: 30px 30px ;
	border-radius: 4px;
	color: #080202;
	font-weight: bold;
	font-family: "Open Sans";
	font-size: 15px;
	text-align: end;
	font-weight: 10px;
	margin: 5px 5px 5px;
}
