.btn{
	background-color: #58508d;
    padding: 5px 5px ;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: Indie flower;
	font-size: 15px;
	text-align: center;
	font-weight: 10px;
	margin: 5px 5px 5px;
}
